@use 'variables' as *;
.footer {
  text-align: center;
  padding: 2rem;
  background: $primary-dark;
  color: $white;
  font-size: 0.9rem;
  a.email {
    color: $primary-color;
    text-decoration: underline;
  }
}